body { 
   font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

td,th {
    border: 2px solid black;
}

td:hover,th:hover {
    color: blue;
}

nav ul {
    list-style: none;
    display: block; 
    overflow: hidden;
}
  
nav li {
    margin-left: 20px;
    float: left;
}
  
nav a {
    text-decoration: none;
    color: black;
}

header {
    background-color: none;
    color: black;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center content */
    padding: 10px;
    max-height: 20px;

    
}

nav a:hover {
    color:skyblue;
    transition: 0.3s;
}

nav li:hover {
    background-color: none;
    transition: 1s;
}

a:link {
    font-weight: bold;
}

div {
    background-color: skyblue;
}

span {
    background-color: cornflowerblue;
}

